<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login to access your personalized dashboard for managing classes and schedules.">
    <meta name="keywords" content="login, user login, access, dashboard, classes, schedule, manage">

    <title>MyClass Timetable</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

{% block content %}
{% comment %} 
    This is the space where the block content of each page will be printed
{% endcomment %}
{% endblock %}

<!-- Include Bootstrap JS (optional) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
